@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* All Page Meatball Menu Dropdown */
.dropDownMeatball {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 180px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position:absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(134, 134, 134);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;

  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(86, 143, 228);
}

input:checked + .slider:before {
  transform: translateX(13px);
}
